.flag {
    vertical-align: middle;
}

h2:after
{
    content:' ';
    display:block;
    border:1px solid black;
    width: 340px;
}

.news {
    background-color: #E6E6E6 ;
    padding: 20px ;
    width: 350px;
    height: 256px;
    float: left;
}

h4, h6 {
    color: #810E0E;
}

.small {
    background-color: #E6E6E6 ;
    padding: 15px ;
    width: 170px;
    height: 120px;
    float: left;
}

.under {
    margin-top: 26px;
    float: left;
}

.right {
    margin-top: 26px;
    margin-left: 10px;
    float: left;
}

.flex-container {
    /* flex-wrap: wrap; */
    /* width: 700px; */
    display: flex;
    /* justify-content: space-between; */
  }
