.flag {
    vertical-align: middle;
}

/* https://stackoverflow.com/questions/16073323/horizontal-rule-line-beneath-each-h1-heading-in-css */
h2:after 
{
    content:' ';
    display:block;
    border:1px solid black;
    width: 340px;
}

.news {
    background-color: #E6E6E6 ;
    padding: 20px ;
    width: 350px;
    height: 256px;
    float: left;
}

/* .newsimg {
    width: "350";
    height: "256";
} */

h4, h6, h5 {
    color: #810E0E;
}

.small {
    background-color: #E6E6E6 ;
    padding: 15px ;
    width: 170px;
    height: 120px;
    float: left;
}

.under {
    margin-top: 16px;
    float: left;
}

.right {
    margin-top: 16px;
    margin-left: 2.5%;
    /* float: left; */
}

.flex-container {
    /* flex-wrap: wrap; */
    /* width: 700px; */
    display: flex;
    /* justify-content: space-between; */
}

.flex-container6 {
    /* flex-wrap: wrap; */
    /* width: 700px; */
    display: flex;
    /* justify-content: space-between; */
}

h5 {
    float: left;
}

.request {
    background-color: #E6E6E6 ;
    padding: 10px ;
    width: 350px;
    height: 46px;
    float: left;
}

.trail {
    margin-top: 16px;
}

.flex-container2 {
    flex-wrap: wrap;
    /* width: 700px; */
    display: flex;
    /* flex-direction: row; */
    gap: 10px;
    /* justify-content: space-between; */
}

.flex-container4 {
    /* flex-wrap: wrap; */
    /* width: 700px; */
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* justify-content: space-between; */
}

.space {
    margin-top: 16px;
}

.resource {
    background-color: #E6E6E6 ;
    padding: 10px ;
    width: 212px;
    height: 39px;
    float: left;
    margin-top: 5px;
}

.resource2 {
    background-color: #E6E6E6 ;
    padding: 10px ;
    width: 212px;
    height: 39px;
    float: left;
    margin-top: 5px;
    /* margin-left: 2.5%; */
}

/* .bottom {
    margin-top: 10px;
} */

.flex-container3 {
    flex-wrap: wrap;
    /* width: 350px; */
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

/* .wrapper {
    display: inline;
} */

.txt:hover {
    text-decoration: underline;
}

.txt:active {
    text-decoration: underline;
    color: #b16969;
}

@media all and (max-width: 3840px) and (min-width: 3288px) {

    .news {
        background-color: #E6E6E6 ;
        padding: 60px;
        width: 935px;
        height: 694px;
        float: left;
    }

    .txt {
        font-size: 48px;
        padding-bottom: 40px;
    }

    .space {
        padding: 40px;
        font-size: 64px;
    }

    h7 {
        font-size: 32px;
    }

    .newsimg {
        width: 935px;
        height: 691px;
    }

    .small {
        background-color: #E6E6E6 ;
        padding: 20px;
        width: 450px;
        height: 285px;
        float: left;
    }

    .smlimg {
        width: 450px;
        height: 285px;
    }

    .resource2 {
        background-color: #E6E6E6 ;
        padding: 10px ;
        width: 610px;
        height: 99px;
        float: left;
        margin-top: 5px;
        /* margin-left: 2.5%; */
    }

    .resource {
        background-color: #E6E6E6 ;
        padding: 10px ;
        width: 610px;
        height: 99px;
        float: left;
        margin-top: 5px;
    }

    h2:after
    {
        content:' ';
        display:block;
        border:1px solid black;
        width: 690px;
    }

    .request {
        background-color: #E6E6E6 ;
        padding: 10px ;
        width: 883px;
        height: 90px;
        /* float: left; */
    }

    p {
        font-size: 24px;
        padding-top: 10px;
    }

    .reqimg {
        width: 883px;
        height: 346px;
    }
/* 
    .offs{
        padding-left: 40px; 
        padding-top: 10px;
    }     */

    .flex-container {
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        /* justify-content: space-between; */
        gap: 10px;
    }

    .right {
        margin-top: 16px;
        /* margin-left: 2.5%; */
        float: left;
    }
}

@media all and (max-width: 461px) {

    .resource {
        background-color: #E6E6E6 ;
        padding: 15px ;
        width: 165px;
        height: 70px;
        float: left;
        margin-top: 5px;
    }
    
    .resource2 {
        background-color: #E6E6E6 ;
        padding: 15px ;
        width: 165px;
        height: 70px;
        float: left;
        margin-top: 5px;
        /* margin-left: 2.5%; */
    }

    .flex-container3 {
        /* flex-wrap: wrap; */
        /* width: 350px; */
        display: flex;
        justify-content: space-between;
        /* gap: 10px; */
    }


}


/* @media all and (max-width: 768px) {

}

@media all and (max-width: 375px) {

} */

/* Test on a phone (~375x667px), a tablet (~768x1024px) and a large computer (~3840x2160px),  */




